# Amankan upload folder
<Files *>
    Order Allow,Deny
    Deny from all
</Files>

# Hanya izinkan akses ke file image
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
